/* General setup */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
    font-size: 10px;
    line-height: 15px;
    word-spacing: 0.2em;
    letter-spacing: 0.1em;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
    text-indent: 20px;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */

  @font-face {
    font-family: 'Rogbold';
    src: url(./fonts/Rogbold-3llGM.otf) format('opentype'),
         url(./fonts/Rogbold-3llGM.woff) format('woff');
  }
  @font-face {
    font-family: 'Robotic';
    src: url(./fonts/RobotoFlex-Regular.ttf) format('truetype');
  }

  h1 {
    font-family: 'Rogbold';
    font-size: 2.5em;
    text-align: center;
  }
  
  h2 {
    font-size: 2em;
    font-family: 'Robotic';
  }

  h1, h2 {
    letter-spacing: 0.3em;
  }
  a{
    text-decoration: none;
    color: blue;
    text-decoration: underline;
  }
  a:hover {
    color: #a66;
    text-decoration: none;
  }
  a:visited {
    color: rgba(170, 102, 102, 0.362);
    text-decoration: underline;
  }
  a:focus{
    color: green;
    text-decoration: none;
    outline: none;
  }

  section p a {
    background: url(./images/external-link.png) no-repeat right;
    padding-right: 12px;
    background-size: 10px;
  }

  li {
    line-height: 15px;
  }
  ul {
    list-style-type: circle;
  }
  nav ul li {
    list-style-type: none;
    text-align: center;
    width: 100px;
    border: #a66 solid 1px;
    padding: 10px;
    line-break: auto;
    margin: 20px;
  }
  nav ul li a {
    text-decoration: none;
  }